*placement1.zip
*placement2.zip
*placement3.zip
*placement4.zip
*placement5.zip
*placement6.zip
*top_req_ver2_1.pl
*Connect_requirement_ver1_2.pl
*circuit_tree.xml
*netlist_issues.txt
*CT_schematic.brd.lck
*status4.json
*status5.json
*status6.json
*status8.json



*.json
